<!DOCTYPE html>
<html>
<head>
  <title>Create Sport</title>
  <link rel="stylesheet" href="/css/style.css" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <style>
    .top-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
  }

  .top-links a {
    margin-left: 10px;
    color: green;
  }
    .delete-symbol {
      color: red;
      cursor: pointer;
      margin-left: 10px;
    }
    .available-sports-link {
      display: block;
      text-align: right;
      margin-bottom: 10px;
    }
    .success-message {
    color: green;
  }

  .error-message {
    color: red;
  }
  </style>
</head>
<body>
  <div class="top-links">
    <a href="/signout" class="text-green-600">Sign-out</a>
    <a href="/reports" class="text-blue-600 font-medium ml-4">Reports</a>
  </div>
  <h1>Create Sport</h1>
  <form action="/create-session" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="sportName">Sport Name:</label>
    <input type="text" id="sportName" name="sportName" required>
    <button type="submit">Submit</button>
    <div class="notify">
      <div class="error">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
              <% for(var i = 0; i < messages.error.length; i++) { %>
                  <p> <%= messages.error[i] %></p>
              <% } %>
          <% } %>
      </div>
      <div style="color: blue;">
          <% if(messages && messages.success && messages.success.length > 0)  { %>
              <% for(var i = 0; i < messages.success.length; i++) { %>
                  <p> <%= messages.success[i] %></p>
              <% } %>
          <% } %>
      </div>
  </div>
  </form>

  <% if (sports.length > 0) { %>
    <h2>Your Created Sports:</h2>
    <ul>
      <% sports.forEach(sport => { %>
        <li>
          <%= sport.name %>

          <a href="/newsession/<%= sport.id %>/<%=sport.name %>" style="color: blue; text-decoration: underline;">Create New Session</a>
          <a href="/delete-sport?sport=<%= sport.name %>" class="delete-symbol" onclick="return confirm('Are you sure you want to delete this sport?');">&#10006;</a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>You have not created any sports yet.</p>
  <% } %>
  <a href="/sports" class="available-sports-link">View All Sports</a>
</body>
</html>
